name: Node CI/CD

on:
  push:
    branches: [ main ]

env:
  AWS_REGION: us-east-1
  ECR_REPOSITORY: node-app-ci-cd
  EKS_CLUSTER_NAME: devops-eks
  AWS_ACCOUNT_ID: 808850079759

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      # Checkout repo
      - name: Checkout code
        uses: actions/checkout@v3

      # Setup Node
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 24

      # Install dependencies
      - name: Install dependencies
        run: npm install
        working-directory: ./app

      # Run tests
      - name: Run tests
        run: npm test
        working-directory: ./app

      # Configure AWS credentials
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}

      # Login to ECR
      - name: Login to Amazon ECR
        uses: aws-actions/amazon-ecr-login@v2

      # Set image URI
      - name: Set Image URI
        run: |
          echo "IMAGE_URI=${{ env.AWS_ACCOUNT_ID }}.dkr.ecr.${{ env.AWS_REGION }}.amazonaws.com/${{ env.ECR_REPOSITORY }}:${{ github.sha }}" >> $GITHUB_ENV

      # Build Docker image
      - name: Build Docker image
        run: docker build -t $IMAGE_URI .

      # Push image to ECR
      - name: Push image
        run: docker push $IMAGE_URI

      # Update kubeconfig for EKS
      - name: Update kubeconfig
        run: |
          aws eks update-kubeconfig \
            --region $AWS_REGION \
            --name $EKS_CLUSTER_NAME

      # Deploy to Kubernetes (Rolling Update)
      - name: Deploy to EKS
        run: |
          kubectl set image deployment/node-app node-app=$IMAGE_URI --record
          kubectl rollout status deployment/node-app